/*
>>Main Colors used:
  soft rouse: #CFC9C6
  soft grey: #C6C2BE
  strong rouse: #9D6B6C
>>Range Colors used:
  For text in white bg:
Grey: #383838
*/

/* ================
For different devides
====================*/
@media only screen and (min-width: 640px){
header {
  text-align: unset;
  padding: 20px 0 13px;
}
nav {
  width: auto;
  float: right;
  margin-top: 4px;
}
  main {
    padding-top: 119px;
  }
}

@media only screen and (min-width: 1024px){

}
@media only screen and (min-width: 1440px){

}
@media only screen and (min-width: 1920px){

}


header {
  background-color: #CFC9C6;
  text-align: unset;
  width: 100%;
  box-shadow: 0px 5px 5px 0px rgba(50, 50, 50, 0.15);
  position: fixed;
}
.center {
  text-align: center;
}

main {
  width: 100%;
  padding-top: 177px;
}

/* this thing of "box-sizing" always before "body" all about layout */
* {
  box-sizing: border-box;
}

/* Layout styling */
.container {
  padding: 0 15px;
}

.full-width {
  width: 100%
}

.row {
  margin: 0px 0; /* 25px top and bottom; 0 left and right */
}

#bixacora {
  width: 100%;
  background-color: #75a3a3;
  padding-top: 30px;
  padding-bottom: 25px;
  text-align: center;
}
#experiences .row { padding-bottom: 25px;
  border-bottom: 1px solid #4a4a4a;
  margin-bottom: 25px;
}

#hero h1 {
  text-align: center;
}
#hero {background-color: #CFC9C6;
    padding: 20px 0;
    display: inline-block;
    width: 100%;
}
#hero span{
  display: block;
}

#aboutimage{
  width: 100%
}


.logo {
  max-width: 50px;
}

nav > ul {
  list-style-type: none;
  padding: 0;
}
nav > ul > li {
  display: inline-block;
  float: right;
}
nav > ul > li > a {
  padding: 0 15px;
  text-transform: uppercase;
  font-weight: 100px;
  color: #383838;
}
nav > ul > li > img {
  padding: 0 15px;
  text-transform: uppercase;
  font-weight: 100px;
  color: #383838;
}


body{
  background-color: #ffffff;
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  font-weight: 300;
  line-height: 29px;
  color: #383838;
}

h1 {
  font-family: "Poppins";
  font-size: 2.5em;
  font-weight: 600;
  line-height: 1.2;
}

h2 {
  font-family: "Poppins";
  font-size: 2em;
  font-weight: 200;
  line-height: 1.2;
}

h3 {
  font-family: "Poppins";
  font-size: 1.9em;
  font-weight: 600;
  line-height: 1,4;
}

h4 {
  font-family: "Roboto";
  font-size: 1.5em;
  font-weight: 300;
  line-height: 2.3;
}

h5 {
  font-family: "Poppins";
  font-size: 1.25em;
  font-weight: 400;
  line-height: 2.35;
}

h6 {
  font-family: "Poppins";
  font-size: 0.812em;
  font-weight: 500;
  line-height: 2;
}

img {
  width: 100%;
}

a {
  color: #9D6B6C;/* no underlining */
  text-decoration: none;
}
a:visited { /* visited link */
  color: #9D6B6C;
}
a:hover,
a:focus {
  color: #CFC9C6;
  text-decoration: underline;
}
a:active { /* selected link */
  color: #ff8080;
}

.first::first-letter {
  font-size: 300%;
  font-style: italic;
}
.box::before {
  content: "hello";
  display:flex;
  width: 100px;
  height: 50px;
  background-color: #CFC9C6;
}

selector {
  margin: 0 auto;
}


/* button rules always at the end of the file, otherwise it can be overwritten*/
.button {
  display: inline-block; /* since the <a> tag is inline by default, we need to change this to inline-block, but more on this in the next exercise */
  background-color: #9D6B6C;
  color: #ff8080; /* needed to override the default link color */
  font-weight: 400;
  padding: 10px;
  border-radius: 3px;
  border-bottom: 2px solid #CFC9C6; /* width of the border, type, color */
  transition: 0.2s opacity;
}
.button:hover {
  opacity: 0.8; /* Reduces the opacity of the button to 80% */
  text-decoration: none;
}
.button:active {
  color: #ff8080;
}

.button.contact {
  background-color: #ff8080;
  color: #ffffff;
  text-transform: uppercase;
  font-weight: 100;
  border: 2px solid #ff8080;
}
.button.contact:hover {
  background-color: #ffffff;
  color: #ff8080;
}
.button.contact:active {
  color: #9D6B6C;
}
