/*
>>Main Colors used:
  soft rouse: #CFC9C6
  soft grey: #C6C2BE
  strong rouse: #9D6B6C
>>Range Colors used:
  For text in white bg:
Grey: #383838
*/
* {
  box-sizing: border-box;
}

header {
  background-color: #ffffff;
  text-align: unset;
  width: 100%;
  box-shadow: 0px 5px 5px 0px rgba(50, 50, 50, 0.15);
  padding: 5px 0;
  position: fixed;
  background-color: #ffffff;
}

main {
  padding-top: 54px;
  background-image: linear-gradient(to bottom right, #ffafbd, #ffc3a0);
}

.bg_random {
  padding-top: 177px;
  background-image: linear-gradient(to bottom right, #ffc3a0, #ffafbd);
}

.center {
  text-align: center;
}

.padding {
  padding-top: 100px;
  padding-bottom: 40px;
}

/* Layout styling */
.container {
  padding: 0 15px;
  max-width: 1300px;
  margin-left: auto;
  margin-right: auto;
}

.full-width {
  width: 100%
}

mark {
  background-color: #f47382;
  color: #ffffff;
}

.no_line_height {
  line-height: 0;
}

.image_bg {
  text-align: center;
  color: white;
}

.row_experiences {
  margin: 30px 0;
  padding: 0 0 25 px;
  border-bottom: 1px solid #9D6B6C;
}

.row_experiences::after, .row::after {
  content: "";
  clear: both;
  display: table;
}

.card_grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
  gap: 3rem;
  padding: 4rem 0rem 4rem 0rem;
}

.experience_card {
  box-shadow: 0px 5px 5px 0px rgba(50, 50, 50, 0.15);
}

.experience_card img {
  max-width: 100%;
  max-height: 100%;
  display: block;
}

.experience_card div {
  padding: 1.5rem;
}

.experience_card div h2 {
  margin: 0;
  color: #00AFB9;
}

/*parallax effect*/

#parallax {
  background: url("../img/5.about/dmirty-fisenko-HL6gzlxnMjM-unsplash.jpg");
  height: 500px;
  background-attachment: fixed;
background-position: bottom;
background-repeat: no-repeat;
background-size: cover;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
text-align: center;
}

/*--> end of parallax effect <--*/

.hooked {
  max-height: 200px;
}

.abouttext {
  /*color: #9D6B6C;*/
}

.borderparagrah {
  outline: #ffffff;
  color: #f47382;
  outline-style: dotted;
  max-width: 800px;
  margin: auto;
  padding: 20px;
}

.berlin-illustration {
  display: block;
  width: 100%;
  max-width: 100%;
  margin: 2em auto;
}

@keyframes color-change {
  0% {
    fill: #edc655;
  }

  50% {
    fill: #fcffad;
  }

  100% {
    fill: #f76414;
  }
}

.sun {
  animation-duration: 4s;
  animation-name: color-change;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: linear;
}

@keyframes cloud-move {
  from {
    transform: translate(0, 50px);
  }

  to {
    transform: translate(200px, 50px);
  }
}

.cloud-front {
  animation-duration: 30s;
  animation-name: cloud-move;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: linear;
}

@keyframes cloud-move-reverse {
  from {
    transform: translate(446px, 48px);
  }

  to {
    transform: translate(100px, 48px);
  }
}

.cloud-back {
  animation-duration: 34s;
  animation-name: cloud-move-reverse;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: linear;
}

/* animation of "uxclashes"*/
@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
#course_1 {
  opacity: 0;
  animation-name: fadeIn;
  animation-duration: 0.5s;
  animation-timing-function: ease;
  -webkit-animation-delay: 0.2s;
  animation-delay: 0.2s;
  animation-fill-mode: forwards;
  display: inline-block;
}
#course_2 {
  opacity: 0;
  animation-name: fadeIn;
  animation-duration: 0.5s;
  animation-timing-function: ease;
  -webkit-animation-delay: 0.5s;
  animation-delay: 0.5s;
  animation-fill-mode: forwards;
  display: inline-block;
}
#course_3 {
  opacity: 0;
  animation-name: fadeIn;
  animation-duration: 0.5s;
  animation-timing-function: ease;
  -webkit-animation-delay: 0.8s;
  animation-delay: 0.8s;
  animation-fill-mode: forwards;
  display: inline-block;
}
#course_5 {
  opacity: 0;
  animation-name: fadeIn;
  animation-duration: 0.5s;
  animation-timing-function: ease;
  -webkit-animation-delay: 1.2s;
  animation-delay: 1.2s;
  animation-fill-mode: forwards;
  display: inline-block;
}
#course_8 {
  opacity: 0;
  animation-name: fadeIn;
  animation-duration: 0.5s;
  animation-timing-function: ease;
  -webkit-animation-delay: 1.5s;
  animation-delay: 1.5s;
  animation-fill-mode: forwards;
  display: inline-block;
}


#course_4, #course_10, #course_11, #course_6, #course_7 {
  opacity: 0;
  animation-name: fadeIn;
  animation-duration: 0.5s;
  animation-timing-function: ease;
  -webkit-animation-delay: 2s;
  animation-delay: 2s;
  animation-fill-mode: forwards;
  display: inline-block;
}

#course_9, #course_12, #course_13, #course_14, #course_15, #course_16 {
  opacity: 0;
  animation-name: fadeIn;
  animation-duration: 0.5s;
  animation-timing-function: ease;
  -webkit-animation-delay: 2.5s;
  animation-delay: 2.5s;
  animation-fill-mode: forwards;
  display: inline-block;
}



/* animation of "uxclashes"*/
/* end of all animations */
.bold_text {
  font-weight: 700;
}

.looks-like-h3 {}

#aboutbixacorabg {
  padding-top: 30px;
  padding-bottom: 30px;
  text-align: center;
  color: #ffffff;
}

#experience_title {
  padding-top: 30px;
  padding-bottom: 20px;
  text-align: center;
}

#title_experiences {
  padding-bottom: 10px;
  text-align: center;
  color: #fffbd5;
}

#hero h1 {
  padding-top: 20px;
  color: #fffbd5;
  margin-top: 0;
}

#hero {
  padding-top: 30px;
  padding-bottom: 30px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

#hero span {
  display: block;
}

#getintouch span {
  display: block;
}

#aboutimage {
  width: 100%
}

#navigation {
  display: flex;
  align-items: center;
  margin: 0;
  flex-direction: column;
}

#bixacora {
  padding-top: 30px;
  padding-bottom: 30px;
  text-align: center;
  color: #ffffff;
  border: 15px solid white;
  /*background-color: #bf6d85;*/
}

#aboutme {
  padding-top: 30px;
  padding-bottom: 30px;
  text-align: center;
  color: #ff3333;
}

#getintouch {
  padding-top: 30px;
  padding-bottom: 30px;
  text-align: center;
  color: #bf6d85;
  background-color: #ffffff;
}

#copyright {
  padding-top: 2px;
  padding-bottom: 2px;
  font-size: 0.8em;
  text-align: center;
  color: #ffffff;
  background-image: linear-gradient(to bottom right, #ffafbd, #ffc3a0);
}

#skillsandtools {
  background-color: #bf6d85;
  color: #ffffff;
  padding-top: 30px;
  padding-bottom: 50px;
  width: 100%
}

#skillsandtools ul {
  list-style-type: none;
  padding: 0;
}

#skillsandtools .column {
  text-align: center;
}

.linkedin {
  max-width: 60px;
  padding-top: 20px;
  padding-bottom: 20px;
}

.logo {
  max-width: 45px;
}

.uxlogo {
  max-width: 45px;
}

.navtoggle li:not(:last-child) {
  display: none;
}

.navtoggle, .navtoggle.responsive {
  position: relative;
}

.navtoggle li .burger {
  position: absolute;
  right: 0;
  top: 10px;
  font-size: 20px;
}

.navtoggle.responsive nav {
  padding: 10px 0 0;
}

.navtoggle.responsive li {
  display: block;
  padding: 10px 0;
}

.navtoggle.responsive li:last-child {
  padding: 0 0 10px;
}

nav>ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

nav>ul>li>a {
  padding: 0 15px;
  text-transform: uppercase;
  font-weight: 300;
  font-size: 0.8em;
  color: #bf6d85;
}

nav>ul {
  list-style-type: none;
  padding: 0;
}

nav>ul>li {
  display: inline-block;
}

nav>ul>li>img {
  padding: 0 15px;
  text-transform: uppercase;
  font-weight: 100px;
}

body {
  background-color: #ffffff;
  font-family: "Roboto", sans-serif;
  font-size: 19px;
  font-weight: 300;
  line-height: 29px;
  color: #ffffff;
}

h1 {
  font-family: "Poppins";
  font-size: 2.5em;
  font-weight: 200;
  line-height: 1.2;
}

h2 {
  font-family: "Poppins";
  font-size: 1.8em;
  font-weight: 200;
  line-height: 1.2;
}

h3 {
  font-family: "Poppins";
  font-size: 1.8em;
  font-weight: 500;
  line-height: 1.4;
}

h4 {
  font-family: "Roboto";
  font-size: 1.6em;
  font-weight: 500;
  line-height: 2.3;
}

h5 {
  font-family: "Poppins";
  font-size: 1.15em;
  font-weight: 600;
  line-height: 2.35;
}

h6 {
  font-family: "Poppins";
  font-size: 0.812em;
  font-weight: 500;
  line-height: 2;
}

h2 span.subheading {
  font-family: "Poppins";
  font-size: 0.575em;
  font-weight: 600;
  line-height: 2.35;
  display: block;
  text-transform: uppercase;
  margin-top: 0.8em;
}

.abouttext {
  font-family: "Poppins";
  font-size: 1.4em;
  font-weight: 200;
  line-height: 1.4;
  display: block;
  margin-top: 0.8em;
}

.section {
  padding: 2em 0;
  margin: 0 0 2em;
}

img {
  width: 100%;
}

a {
  color: #f47382;
  /* no underlining */
  text-decoration: none;
}

a:visited {
  /* visited link */
  color: #bf6d85;
}

a:hover,
a:focus {
  color: #f47382;
}

a:active {
  /* selected link */
  color: #f47382;
}

.first::first-letter {
  font-size: 300%;
  font-style: italic;
}

selector {
  margin: 0 auto;
}

#my_experiences h2 {
  margin-top: 2rem;
  text-align: center;
}

/* button rules always at the end of the file, otherwise it can be overwritten*/
.button {
  display: inline-block;
  /* needed to override the default link color */
  font-weight: 400;
  text-decoration: none;
  padding: 10px;
  border-radius: 3px;
  /* width of the border, type, color */
  transition: 0.2s opacity;
}

.button:hover {
  opacity: 0.8;
  /* Reduces the opacity of the button to 80% */
}

.button:active {
  color: #ff8080;
}

.button.contact {
  background-color: #bf6d85;
  color: #ffffff;
  text-transform: uppercase;
  font-weight: 300;
  border: 2px solid #bf6d85;
}

.button.contact:hover {
  background-image: linear-gradient(to bottom right, #ffafbd, #ffc3a0);
  color: #ffffff;
  border: 2px solid #ffafbd;
}

.button.contact:active {
  color: #ffafbd;
}

.button.experiences {
  background-image: linear-gradient(to bottom right, #ffafbd, #ffc3a0);
  color: #ffffff;
  text-transform: uppercase;
  font-weight: 300;
  border: 2px solid #ffffff;
}

.button.experiences:hover {
  color: #6c5c7a;
}

.button.experiences:active {
  color: #bf6d85;
}

.button.curious {
  background-image: linear-gradient(to bottom right, #ffafbd, #ffc3a0);
  color: #ffffff;
  text-transform: uppercase;
  font-weight: 300;
  border: 2px solid #ffffff;
}

.button.curious:hover {
  background-image: linear-gradient(to bottom right, #bf6d85, #6c5c7a);
  color: #ffffff;
  border: 2px solid #bf6d85;
}

.button.curious:active {
  color: #9D6B6C;
}

.col-12 {
  width: 100%;
}

/* ================
For different devides
====================*/
[class*="col-"] {
  float: left;
  padding: 10px;
}



@media only screen and (min-width: 640px) {
  main {
    padding-top: 97px;
  }

  .col-md-6 {
    width: 50%;
  }

  #title_experiences {
    padding-top: 10px;
  }

  .skiing {
    right: 20px;
    max-width: 100px;
  }
  header {
    text-align: unset;
    padding: 20px 0 13px;
  }

  nav {
    width: auto;
    float: right;
    margin-top: 0px;
    flex-direction: row;
  }

  #navigation {
    flex-direction: row;
  }

  nav>ul {
    margin: 1em 0;
  }

  .navtoggle li:not(:last-child) {
    display: inline-block;
  }

  .navtoggle li:last-child {
    display: none;
  }

  .logo {
    max-width: 65px;
  }

  .navtoggle {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  /* Top and Bottom borders come in */
  ul.topBotomBordersIn li:not(.no-animation) a:before, ul.topBotomBordersIn li:not(.no-animation) a:after {
    position: absolute;
    left: 0px;
    width: 100%;
    height: 1px;
    background: #fcd2c5;
    content: "";
    opacity: 0;
    transition: all 0.3s;
  }

  ul.topBotomBordersIn li:not(.no-animation) a:before {
    top: 0px;
    transform: translateY(-10px);
  }

  ul.topBotomBordersIn li:not(.no-animation) a:after {
    bottom: 0px;
    transform: translateY(10px);
  }

  ul.topBotomBordersIn li:not(.no-animation) a:hover:before, ul.topBotomBordersIn li:not(.no-animation) a:hover:after {
    opacity: 1;
    transform: translateY(0px);
  }

  ul.topBotomBordersIn li {
    position: relative;
  }
}

  @media only screen and (min-width: 1024px) {
    .col-lg-7 {
      width: 60%;
    }

    .col-lg-5 {
      width: 40%;
    }
  }

  @media only screen and (min-width: 1440px) {}

  @media only screen and (min-width: 1920px) {}

  element.style {
    list-style-type: none;
    padding: 0;
  }
